{% for book in books %}
            <div class="book mb-5 col-4 mr-2 mb-2 list-group-item">
                {% if app.user %}
                    <div onclick="addFavoriteBook(this)" class="star" data-id-book="{{book.getId()}}"></div>
                {% endif %}
                <div class="row row align-items-center justify-content-end">
                    <div class="col">
                        <div class="image-book text-center">
                            <img src="{{book.getImagePath | default('/img/book-min.png')}}" class="roundedc"  alt="...">
                        </div>
                    </div>
                    <div class="col">
                        <li class="list-group-item d-flex justify-content-start lh-sm">
                            <div>
                                <small class="text-muted">Название</small>
                                <h6 class="mb-0">{{book.getTitle()}}</h6>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-start lh-sm">
                            <div>
                                <small class="text-muted">Автор</small>
                                <h6 class="mb-0"><a href="{{ path('authors', {'id': book.getAuthor().getId()}) }}">{{book.getAuthor().getName()}}</a></h6>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-start lh-sm">
                            <div>
                                <small class="text-muted">Жанр</small>
                                <h6 class="mb-0"><a href="{{ path('genres', {'id': book.getGenre().getId() | default('without-genre')}) }}">{{book.getGenre.getName() | default('Нет жанра') }}</a></h6>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-start lh-sm">
                            <div>
                                <small class="text-muted">Дата выхода</small>
                                <h6 class="mb-0">{{book.getDateRelease() | date('d.m.Y')}}</h6>

                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-start lh-sm">
                            <div>
                                <small class="text-muted">Дата публикации</small>
                                <h6 class="mb-0">{{(book.getDatePublished()) | date('d.m.Y H:i')}}</h6>
                            </div>
                        </li>
                    </div>
                </div>
            </div> 
{% endfor %}   
